services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: stem
      POSTGRES_PASSWORD: stem_local_pwd
      POSTGRES_DB: stem_palaestina
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
